<div class="chart-container">
<div class="progress-container" ng-show="executionInProgress">
<md-progress-circular md-mode="indeterminate"></md-progress-circular>
<hr />
</div>
<div class="error-container" ng-show="errors.length > 0">
<h2>Грешки</h2>
<p ng-repeat="error in errors track by $index">{{error}}</p>
<hr />
</div>
<div class="preview-container" ng-show="haveResults">
<h2>{{resultItems.length > 1 ? "Графици" : "График"}}</h2>
<md-input-container ng-show="resultItems.length > 1">
<md-select ng-model="selectedResultIndex" ng-change="selectedResultChange()">
	<md-option ng-repeat="resultItem in resultItems" value="{{$index}}" ng-selected="$index == 0">{{resultItem}}</md-option>
</md-select>
</md-input-container>
<a href="#" class="chart-preview-anchor" ng-click="displayLargeChartPreview($event)"><img class="chart-preview" /></a>
<div class="download-links-container">
<a href="#" ng-click="downloadCSV()">CSV</a> | 
<a href="#" ng-click="downloadJSON()">JSON</a> | 
<a href="#" ng-click="downloadPNG()">PNG</a>
</div>
<button type="button" ng-click="downloadZIP()" class="btn btn-default">Превземи</button>
<hr />
</div>
<div class="controls-container">
Генерирај график за гледаност на 
<md-input-container>
<md-select ng-model="selectedChannel">
	<md-option ng-repeat="channel in channels" value="{{channel}}">{{channel}}</md-option>
</md-select>
</md-input-container>
<br />
гледани од 
<md-input-container>
<md-select ng-model="selectedUser">
	<md-option ng-repeat="filteredUser in filteredUsers" ng-value="filteredUser">{{filteredUser.userId ? (filteredUser.firstName + ' ' + filteredUser.lastName + ' (' + filteredUser.username + ')') : filteredUser}}</md-option>
</md-select>
</md-input-container> 
<!-- <md-input-container> displays placeholder undesirably -->
  <input class="user-filter" ng-model="userFilter" ng-change="userFilterChange()" placeholder="филтрирај" />
<!-- </md-input-container> -->
<br />
во период од
<md-datepicker class="periodFrom" ng-model="selectedPeriodFrom" md-placeholder="Внеси датум"></md-datepicker>
до
<md-datepicker class="periodTo" ng-model="selectedPeriodTo" md-placeholder="Внеси датум"></md-datepicker>
<br />
<div class="user-chart-special" ng-show="selectedUser == users[0]">
со вкупен број на корисници
<md-input-container>
<input class="total-users" ng-model="selectedTotalUsers" placeholder="" ng-pattern="/^[1-9][0-9]*$/" />
</md-input-container>
<br />
</div>
<button type="button" ng-click="executeChartGeneration()" class="btn btn-default">Изврши</button>
<div class="input-errors" ng-show="inputErrors.length > 0">
	<p ng-repeat="inputError in inputErrors">{{inputError}}</p>
</div>
</div>
</div>