<div class="usage-container">
<h2>Користење на апликацијата</h2>
<p>
Веб апликацијата претставува алатка за визуелизација на статистики за гледаност на емисии на ТВ програми во склоп на проектот „Барометар на гледаност на ТВ програма“. Системот работи со податоци сместени во PostgreSQL база на податоци со шема приложена со софтверската компонента за вметнување на податоци во база во рамките на проектот. Веб апликацијата е изградена со Spring MVC, AngularJS и користи D3.js за визуелизација на статистиките. 
</p>
<p>
Апликацијата се употребува со користење на <a ui-sref="chart">корисничкиот интерфејс</a>, и овозможено е пресметување и прикажување на гледаноста на емитувања на ТВ програми за еден или повеќе канали одеднаш гледани од еден или сите корисници. Контролата за внесување датум овозможува прелистување на месеците преку scroll функцијата на уредот за покажување, возможно е и одбирање на датум со негово внесување од тастатура. Доколку зададениот временски период опфаќа повеќе од еден месец, се создаваат месечни графици за секој канал. Овозможено е филтрирање на множеството корисници според почетните знаци во името, презимето или корисничкото име на корисникот. 
</p>
<p> 
Вкупната гледаност на емисија на ТВ програма се добива кога сумираното времетраење на гледањето на емисијата од страна на корисниците ќе се подели со времетраењето на емисијата и со вкупниот број на корисници на системот за дигитална телевизија внесен преку корисничкиот интерфејс. Корисничкиот интерфејс го прикажува графикот со намалени димензии - графикот во вистинската големина може да се прегледа во прелистувачот со клик на приказот или да се превземе како PNG слика преку соодветниот линк под приказот. Возможно е и превземање на податоците за гледаноста прикажани на графикот во CSV или JSON формат што овозможува нивно визуелизирање надвор од веб апликацијата користејќи софтвер за табеларни пресметки на пример. Со кликнување на копчето „Превземи“ се превзема ZIP архива која ги содржи сите CSV, JSON и PNG документи за графиците генерирани при тековното извршување. 
</p>
<p>
Генерираните графици прикажуваат гледаност на емисиите на ТВ програми за кои има податоци во базата на податоци. Графикот ја прикажува гледаноста на сите емисии на каналот само доколку соодветните ЕПГ информации за каналот во наведениот временски период се претходно внесени во базата. Во спротивно на графикот се прикажува само гледаноста на емисии кои корисниците во системот ги гледале, т.е. емисии со гледаност поголема од нула, бидејќи само тие податоци постојат во базата.
</p>
<p>
Корисничкиот интерфејс кочи при одбирање на друг график од листата кога се генерираат повеќе графици наеднаш и при клик на копчето „Превземи“. Овој тековно нерешлив проблем се појавува бидејќи за исцртување на графикот е потребен DOM пристап што значи дека операцијата не може да се премести во посебен Worker. При користење на Mozilla Firefox, по одредено време од кликнување на копчето „Превземи“ се појавува дијалог прозорец кој на корисникот му овозможува да ја запре скриптата: потребно е да се избере опцијата за продолжување на извршувањето за операцијата успешно да се изврши.  
</p>
<p>
Во тековната верзија системот не врши утврдување на идентитетот на корисникот и функционалностите на веб апликацијата се достапни за сите корисници кои имаат пристап до неа. Се препорачува имплементирање на систем за автентикација пред апликацијата да се постави на јавно достапна локација поради заштита на приватноста на корисниците на системот за дигитална телевизија и избегнување непосакувани последици од постоењето на јавен пристап до приватни податоци на организацијата.
</p>
</div>