div.progress-container {
	text-align: center;
}

div.progress-container svg {
	position: relative !IMPORTANT;
}

div.progress-container hr {
	margin-top: 17px;
	margin-bottom: 15px;
}

div.error-container {
	text-align: center;
	font-weight: bold;
}

div.error-container h2 {
	font-size: 24px;
}

div.error-container hr {
	margin-bottom: 15px;
}

div.preview-container {
	text-align: center;
}

div.preview-container h2 {
	font-size: 24px;
}

div.preview-container a.chart-preview-anchor {
	display: block;
	margin: 0 auto 5px auto;
}

div.preview-container a.chart-preview-anchor img.chart-preview {
	border: 1px solid #e1e1e1;
}

div.preview-container div.download-links-container {
	color: #337ab7;	
	font-size: 10px;
}

div.preview-container div.download-links-container a {
	color: #337ab7 !IMPORTANT;
}

div.preview-container hr {
	margin-bottom: 15px;
}

div.chart-container {
	font-size: 16px;
}

div.controls-container {
	text-align: center;
}

div.controls-container input.total-users {
	text-align: center;
}

div.controls-container div.input-errors {
	margin-top: 10px;
	margin-bottom: -5px;
	
	text-align: center;
}

div.controls-container div.input-errors p {
	margin: 0;
	padding: 0;
}

md-input-container {
	margin: 0;
	padding-bottom: 8px;
}

input.user-filter {
	/* adding !IMPORTANT to everything fixes some Firefox issues */
	display: inline-block !IMPORTANT;
	width: 110px !IMPORTANT;
	text-align: center !IMPORTANT;
	outline: none !IMPORTANT;
	
	border-top: none !IMPORTANT;
	border-left: none !IMPORTANT;
	border-right: none !IMPORTANT;
	
	border-bottom: 1px solid #e0e0e0 !IMPORTANT;
}

input.user-filter:focus {
	border-bottom: 2px solid #3f51b5  !IMPORTANT;
}

div.user-chart-special {
	display: inline;
}

md-datepicker {
	display: inline-block !IMPORTANT;
	margin-left: -3px;
	margin-right: -10px;
}

md-datepicker button.md-datepicker-button {
	margin-left: 0 !IMPORTANT;
	margin-right: 0 !IMPORTANT;
}

md-datepicker div.md-datepicker-input-container {
	margin-left: 0 !IMPORTANT;
}

div.date-picker-holder input {
	display: inline-block;
	width: 200px;
}

div.date-picker-holder span {
	display: inline-block;
}

button {
	display: block;
	margin-top: 5px;
}