html {
	background-color: white;
}

div.outer-container {
	padding-top: 25px;
	font-size: 16px;
}

div.header h1 {
	margin: 0 0 5px 18px;
	padding: 0;
}

div.header hr {
	margin: 0;
	padding: 0;
	clear: both;
}

div.header div.navigation {
	margin-left: 20px;
}

div.header div.navigation a {
	color: #337ab7;
	display: block;
	float: left;
	margin: 3px 8px 3px 0;
	padding-right: 8px;
	border-right: 1px solid #337ab7;
}

div.header div.navigation a:last-of-type {
	border-right: none;
}

div.partial-page-container {
	margin-top: 15px;
}

div.footer {
	clear: both;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
}

div.footer hr {
	margin-bottom: 5px;
}