div.usage-container {
	margin: 0 auto;
	width: 650px;
}

div.usage-container h2 {
	margin-top: 12px;
	margin-bottom: 16px;
	
	font-size: 24px;
	text-align: center;
}

div.usage-container p {
	font-size: 14px;
	text-align: justify;
}

div.usage-container p a, div.usage-container p a:hover {
	color: #337ab7;
}